*{
    padding: 0px;
    margin: 0px;
    

     /*background-image: linear-gradient(rgba(60,60,60),rgba(140,60,60));*/
}
.header{
    background-color:#2a2354;
    height: 120px;
    
}
.header2{
    text-align: right;
    color: aqua;
    padding-top: 20px;
}
.header2 ul{
    list-style: none;
    float: right;

}
.header2 li{
   margin: 0 10px;
   display: inline-block;
}

.header3{
    text-align: center;
      display: flex;
    margin: auto;
}
h1{
        padding-right: 10px;
        font-size: 50px;
        padding-right: 50px;
    
    }
.header3 ul{
    list-style: none;
    float: left;
}
.header3 li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin:  0 20px;
    padding-top:30px;

}
.header3 li a{
    text-decoration: none;
    color: aliceblue;

}
.slidecontainer{

width: 500%;
height: 300px;
margin-left:0px;
overflow-x: hidden;
overflow-y: hidden;
background-image: url(/photos/truck.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
max-width: 100%;

}

.slidecontainer figure img{
    object-fit: cover;   
    height: 300px;
    max-width: 100%;    
    width: 270px; /* adjust this value to set the desired width of the images */
    margin: 0px 0px 0px 0px; 
    transition: opacity 1s ease-in-out;
    animation: slidecontainer 30s infinite;
}
.slidecontainer figure img:first-child{
    opacity: 1;
}
.slidecontainer figure img.active{
    
    animation: none;
}

@keyframes slidecontainer{ 
0% {
    transform: translateX(10%);
    opacity: 0;
    
  }
  8.33% {
    transform: translateX(0%);
    opacity: 1;
  }
  33.33% {
    transform: translateX(0);
    opacity: 0;
  }
  41.66% {
    transform: translateX(10%);
   
  }
  100% {
    transform: translateX(-10%);
    
  }

}
slidecontainer figure img:nth-child(1){
    animation-delay: -1s;}
slidecontainer figure img:nth-child(2){
    animation-delay: 3s;
}
slidecontainer figure img:nth-child(3){
    animation-delay: 4s;
}
slidecontainer figure img:nth-child(4){
    animation-delay: 6s;
}
/*solution*/
  .solution{
    width:95%;
    margin:auto;
    text-align: center;
    padding-top: 20px;
    
  }
  h1{
    color: #333;
    font-weight: 600;
  }
  p{
    font-size: 14px;
    color: #333;
    line-height: 300;
    line-height: 22px;
    padding:10px;
  }
  .row{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  .solution-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-right: 15px;
    padding:20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    background: #dfddeb;
    

  }
  h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
  }
  .solution-col:hover{
    box-shadow:0 0 20px 0px rgba(32, 12, 218, 0.2);
  }
  .products{
    width:95%;
    margin:auto;
    text-align: center;
    padding-top: 5px;
    
    height: 300px;
    
  }
  .product-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
    
  }
  .product-col img{
    width: 100%;
    display: block;
    max-width: 100%;
    
    

  }
  .layer-top{
    background:transparent;
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  .layer-top:hover{
    background: rgba(6, 6, 7, 0.2);
  }
  .layer-top h3{
    width: 100%;
    font-weight: 500;
    color:aqua;
    font-size: 26px;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    transition: 0.5s;
    opacity: 0;
    position: absolute;
  }
  .layer-top:hover h3{
    bottom: 49%;
    opacity: 1;
  }
  .overall{
    background-image: rgba(0,0,0,0.7),rgba(0,0,0,0.7);
    
    
  }

   
  